html,
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

header {
  background-color: #004471;
  color: white;
  padding: 1rem;
  text-align: center;
  font-weight: bold;
  font-size: 3rem;
  margin-bottom: 3rem;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

header nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 25px;
}

header nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  transition: color 0.4s ease-in-out;
}

header nav ul li:hover a {
  color: yellow;
}

.container {
  width: 1000px;
  margin: auto;
}
